* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 30px;
}

.header h1 {
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: monospace;
  font-size: 20px;
  padding: 0 10% 0 10%;
  display: flex;
  height: 5%;
  justify-content: flex-end;
}

.navbar button:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
}

.side {
  width: 21%;
  display: flex;
}

.main {
  width: 79%;
  padding: 2em 2em;
}

@media screen and (max-width: 1300px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.button {
  background-color: black;
  border: 1px solid grey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  display: block;
  font-family: monospace;
}

.button:not(:last-child) {
  border-bottom: none;
  /* Prevent double borders */
}

.button:hover {
  background-color: gray;
}

.btn {
  border: 1px solid black;
  width: 90%;
  margin: 1em 0em 0em auto;
}

.btn-group {
  margin: 0 auto;
}

.btn-group button {
  width: 100%;
}

.button:hover {
  background-color: grey;
}

fieldset {
  display: flex;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin: 1em;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #f2f2f2;
    color: black;
}

.container {
  max-width: 65%;
  margin: 0 auto;
}