* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 30px;
}

.header h1 {
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: monospace;
  font-size: 20px;
  padding: 0 10% 0 10%;
  display: flex;
  height: 5%;
  justify-content: flex-end;
}

.navbar button:hover {
  background-color: rgb(46, 46, 46);
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
}

.side {
  width: 21%;
  display: flex;
}

.main {
  width: 79%;
  padding: 2em 5em;
}

@media screen and (max-width: 1300px) {
  .row {
    flex-direction: column;
  }
  table {
    font-size: 0.8em;
  }
  .side {
    width: auto;
    margin: 0 auto;
  }
  .main {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    min-width: 600px;
  }
}

.button {
  background-color: black;
  border: 1px solid grey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  display: block;
  font-family: monospace;
}

.button:not(:last-child) {
  border-bottom: none;
  /* Prevent double borders */
}

.button:hover {
  background-color: gray;
}

.btn {
  border: 1px solid black;
  width: 90%;
  margin: 1em 0em 0em auto;
  background-color: black;
  color: white;
}

.btn-group {
  margin: 0 auto;
}

.btn-group button {
  width: 100%;
}

.btn:hover {
  background-color: rgb(59, 59, 59);
}

.button:hover {
  background-color: rgb(59, 59, 59);
}

fieldset {
  display: flex;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin: 1em;
    table-layout:fixed;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #f2f2f2;
    color: black;
}

.container {
  max-width: 65%;
  margin: 0 auto;
}

#peerDistribution {
  margin: 0 auto;
}

.title {
  background-color: black;
  color: white;
}

.narrow {
  max-width: 3em;
}

input:hover {
  background-color: lightgrey;
}

input:focus {
  background-color: lightgrey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h2 {
  border: 1px solid grey;
  background-color: black;
  color: white;
  width: 6em;
  margin: 0 auto;
}